*{margin: 0; padding: 0; box-sizing: border-box;}
.heading{
  font-weight: bold;
  color: coral;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 0px 2px 4px #ffec5f;
  margin: 80px 0; 
  font-family: "Anta", sans-serif;
}
.img_div{
  display: flex;
  justify-content: center;
}
.img_div img{
  height: 150px;
  width: 200px;
}